body {
    font-family: 'Manrope', sans-serif;
}

a.navbar-brand {
    font-size: 36px;
}

.navbar .nav-link {
    color: #535A56;
}

.navbar .nav-link.active {
    color: #101913;
}

.btn-primary-main {
    background: #3c9379 !important;
    color: #FFFF;
}